:root {
  --main-background: #fff;
  --card-background: #fff;
  --card-color: #121319;
  --text-color: #7F7F7F;
  --text-color-hover: #7F7F7F;
  --border: 1px solid #E0E0E0;
  --svg-color: #121319;
  --box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.15);
}

[data-theme="dark"] {
  --main-background: black;
  --card-background: #121319;
  --card-color: #ffff;
  --text-color: #9F9F9F;
  --text-color-hover: #7F7F7F;
  --border: 1px solid #696969;
  --svg-color: #FFFDFD;
  --box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.15);
}

// color: var(--main-background);
